<div class="footer-section footer-address">
  <a href="https://goo.gl/maps/JV62jkKmfFqDEZay5">
    <i class="footer-icon fas fa-map-marked-alt"></i>
  </a>
  <p>
    <address>
      Institute of Microbiology and Infection<br>
      University of Birmingham<br>
    </address>
  </p>
</div>
<div class="footer-section footer-email">
  <a href="mailto:j.quick@bham.ac.uk">
    <i class="footer-icon fas fa-envelope"></i>
  </a>
  <p>
    j.quick@bham.ac.uk
  </p>
</div>
<div class="footer-section footer-social-media">
  <div class="social-icons">
    <a href=http://www.twitter.com/scalene><i class="fab fa-twitter"></i></a>
    <a href="http://www.github.com/joshquick"><i class="fab fa-github"></i></a>
    <a href="https://srmrc.nihr.ac.uk/staff/dr-josh-quick"><i class="fas fa-user-circle"></i></a>
  </div>
  <p>
    © 2020 Quick Lab<br>
    Website by Josh Quick and Andrew Smith
  </p>
</div>
