/* Resets & fonts */

@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Open+Sans:wght@400;600&display=swap');
$dark-gray: #252525;
$subtle-gray: #B6B6B6;
$highlight-color: #66A1D2;
$mid-gray: #565656;

body {
  margin: 0;
  font-family: 'Open Sans', 'Source Sans Pro', sans-serif;
  color: $dark-gray;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
  font-family: 'Adamina', 'Source Serif Pro', sans-serif;
}

/* Grid layout */

.wrapper {
  display: grid;

  grid-template-areas:
    "header header"
    "content aside"
    "footer footer";

  grid-template-columns: 1fr 200px;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;

  height: 100vh;
}

header {
  grid-area: header;
  padding: 10px;
}

footer {
  grid-area: footer;
}

main {
  grid-area: content;
  text-align: left;
  margin-left: 0.5rem;
  padding: 10px;
}

aside {
  grid-area: aside;
  margin-right: 0.5rem;
}

@media (max-width: 768px) {
  .wrapper {
    grid-template-areas:
      "header"
      "content"
      "aside"
      "footer";

    grid-template-columns: 1fr;
    grid-template-rows:
      auto /* Header */
      1fr /* Content */
      auto /* Sidebar */
      auto; /* Footer */
  }

  main, aside {
    margin: 0;
  }
}

/* Header */

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $subtle-gray;
}

header > h1 {
  padding: 10px;
  margin: 0;
  font-size: 2.5em;
}

header > h1 a {
  color: $dark-gray;
  text-decoration: none;
}

header > h1 i {
  color: $highlight-color;
}

.main-nav {
  display: flex;
  font-size: large;
}

.main-nav-item {
  margin-right: 15px;
  padding: 3px 0;
  text-decoration: none;
  color: $mid-gray;
  border-bottom: 2px solid white;
}

.main-nav-item:hover {
  border-bottom: 2px solid $highlight-color;
}

.main-nav > .current {
  border-bottom: 2px solid $highlight-color;
}

/* Responsive menu */

.show-menu-btn {
  display: none;
  float: right;
  font-size: 20px;
  color: $dark-gray;
}

.responsive-nav-header {
  display: none;
  border-bottom: 1px solid white;
  font-size: 1.5em;
  padding: 10px 20px;
  margin: 0 0 10px 0;
}

.responsive-nav-header > a {
  color: white;
  text-decoration: none;
  padding: 5px;
}

.responsive-nav-header > a i {
  float: right;
  margin: 10px 15px 0 0;
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  .main-nav {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    background: $highlight-color;
  }

  .responsive-nav-header {
    display: inline;
  }

  .main-nav.responsive-nav {
    display: flex;
  }

  .main-nav-item {
    margin-bottom: 5px;
    color: white;
    border-bottom: none;
    padding: 7px 20px;
    text-align: right;
  }

  .main-nav-item:hover {
    border-bottom: none;
  }

  .show-menu-btn {
    display: inline;
  }
}

/* footer */
footer {
  background: $dark-gray;
  color: #fff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: stetch;
}

.footer-section {
  width: 30%;
  font-size: 0.8em;
  text-align: center;
  padding: 15px 0;
}

.footer-address {
  border-right: 1px solid $subtle-gray;
}

.footer-address > address {
  display: block;
  font-style: normal;
  line-height: 2em;
}

.footer-address a {
  color: white;
  text-decoration: none;
}

.footer-email {
  border-right: 1px solid $subtle-gray;
}

.footer-email > p a {
  display: block;
}

.footer-social-media > p {
  line-height: 2em;
}

.social-icons {
  display: flex;
  text-align: left;
  justify-content: center;
  width: 100%;
}

.social-icons > a {
  padding: 0 15px;
  font-size: 3em;
}

.footer-section a {
  color: $highlight-color;
  text-decoration: none;
}

.footer-section a:hover {
  color: white;
}

.footer-icon {
  font-size: 3em;
  padding: 10px 0;
}
