<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="/">Quick Lab</a></h1>
        {% include navigation.html %}
      </header>
      <main>
        {{ content }}
      </main>
      <aside>
        <!--Sidebar-->
      </aside>
      <footer>
        {% include footer.html %}
      </footer>
    </div>
  </body>
</html>
